<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container mb-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="CoverImage" class="form-label">Cover Image</label>
        <input
          type="file"
          class="form-control"
          id="CoverImage"
          name="CoverImage"
          aria-describedby="CoverImage"
        />
    </div>
      
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          aria-describedby="title"
        />
      </div>
    <div class="container mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea
      name="body"
        class="form-control"
        id="body"
      ></textarea>
      <div class="mt-4">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
   
    <%-include("./partials/script.ejs") %>
</form>
  </body>
</html>
