<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>HomePage</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
     <%- include("./partials/script.ejs") %>
    <h1>Write More Code And Make perfect</h1>
  </body>
</html>
