<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>HomePage</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %> <%= JSON.stringify(blogs) %> <%-
    include("./partials/script.ejs") %>
  </body>
</html>
